* {
  color: #616161;
  font-family: Helvetica;
  font-size: 1em;
  *border: 1px solid;
}

body {
  margin: 0;
}

#flex-header {
  width: 100%;
  background-color: #b9b9b9;
}

#flex-header__container {
  margin: 0 auto 0;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#flex-header__container-top {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#flex-header__logo {
  font-size: 1.5em;
}

header nav {
  margin-left: auto;
}

ol {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

li {
  list-style-type: none;
  padding: 15px 5px;
  font-size: 0.9em;
}

#flex-header__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

#flex-header__caption {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px 15px 0;
}

#flex-header__caption-intro {
  font-size: 1.9em;
  font-weight: bold;
}

#flex-header__slide-container {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  background-color: #969696;
  height: 20vh;
  min-width: 300px;
}

#flex-header--slide-txt {
  margin: 50px 0 0 80px;
}

#flex__section {
  background-color: white;
}

#flex__section-container {
  margin: 0 auto 20px;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#flex-section__swithcer-container {
  padding: 8px;
  margin-left: auto;
  margin-right: 180px;
  -webkit-box-flex: 5%;
      -ms-flex: 5%;
          flex: 5%;
}

#switcher input {
  padding: 10px;
}

#flex-section__services-container, #flex-section__works-container {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#flex-section__services-container div, #flex-section__works-container div {
  background-color: #b9b9b9;
  margin: 10px;
  padding: 50px 0 70px 40px;
}

#flex-section--service-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#flex-section--service-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#flex-section--service-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#flex-section--work-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#flex-section--work-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#flex-section--work-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#flex-section--twitter {
  background-color: #b9b9b9;
  padding: 15px 0 15px 25px;
  margin: 10px 10px 0;
  -webkit-box-flex: 5%;
      -ms-flex: 5%;
          flex: 5%;
}

footer {
  background-color: #b9b9b9;
}

#flex-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 70vw;
  margin: 0 auto;
}

footer span {
  margin: 15px 0 0 auto;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
/*# sourceMappingURL=style.css.map */